###################################################################
# Script Name	 : ".DOCKERIGNORE"                                                                                         
# Description	 : Ignores for building the docker image                                                                             
# Args           :                                                                                           
# Author       	 : Floris Remmen                                              
# Email          : floris.remmen@gmail.com 
# Date           : "28 September 2020"                                     
###################################################################

# ignore some directories while COPY
env
__pycache__/*
