{% extends "layout.html" %}

{% block content %}
<h1>Visualisation of the requested query</h1>


<img class="img-fluid" src="{{ overview_image_url }}" alt="Overview result">
<img class="img-fluid" src="{{ closeup_image_url }}" alt="Closeup result">


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src={{gmap_url}} allowfullscreen></iframe>
</div>


<form action="/">
    <input class="btn btn-outline-info" type="submit" value="Run a new simulation" />
</form>


{% endblock content %}